@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #151a33;
}

nav {
    background: #19233a;
    padding: 1.8rem 0;
}

nav .in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .in .left {
    text-transform: uppercase;
    color: #eff2f9;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}

nav .in .left i {
    color: #4d79f6;
}

nav .in button {
    background-color: #2b55cc;
    border: none;
    padding: 0.7rem 2rem;
    color: #eff2f9;
    font-size: 14px;
    border-radius: 4px;
}

section.profile {
    background-color: #060b1b;
    padding: 4rem 0;
    display: flex;
    margin-top: 70px;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
    padding-bottom: 4rem;
}

section.profile .lhs {
    align-items: center;
    flex: 2;
    display: flex;
}

section.profile .lhs h2 {
    color: #7081b9;
    font-size: 24px;
    font-weight: 600;
    margin-left: 1rem;
}

section.profile .lhs p {
    font-size: 16px;
    color: #8997bd;
}

section.profile .lhs .cd-headline.loading-bar .cd-words-wrapper::after {
    background: linear-gradient(to right, #2b55cc, #1ecab8);
}

section.profile .lhs img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

section.profile .lhs .photo {
    margin-right: 3rem;
    position: relative;
}

section.profile .lhs .photo span {
    position: absolute;
    bottom: 6px;
    right: 4px;
    background-color: #2056ed;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 0px rgba(32, 41, 54, 0.05);
    cursor: pointer;
}

section.profile .rhs ul.contact {
    list-style-type: none;
    margin-bottom: 1.7rem;
}

section.profile .rhs ul.contact li {
    font-size: 14px;
    margin-bottom: 1rem;
    color: #848db3;
}

section.profile .rhs ul.socials {
    display: flex;
    align-items: center;
    list-style-type: none;
}

section.profile .rhs ul.socials li {
    margin-right: 0.8rem;
}

section.profile .rhs ul.socials li a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    line-height: 40px;
    text-align: center;
}

section.profile .rhs ul.socials li:nth-child(1) a {
    background-color: rgb(235, 133, 133);
}

section.profile .rhs ul.socials li:nth-child(2) a {
    background-color: #2056ed;
}

.heading {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3rem;
    text-shadow: 0 0 1px rgba(40, 54, 95, 0.1);
    position: relative;
}

section {
    padding: 3rem;
}

main {
    background-color: #1a253f;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
